.inPlayApp {
  overflow:hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  position: fixed;
  top:0;
  width:100%;
}


.inPlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inPlay__question {
  padding: 15px 10px;
  font-weight: bold;
}
.inPlay__imageWrapper {
  padding: 0 10px;
  position: relative;
  bottom:10px;
  width: calc(100% - 20px);
  height: calc(100vh - 120px);
  max-height: 80%;
}
.inPlay__image {
  height: 50%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.inPlay__image:first-child {
  border-bottom: 1px solid #000;
}
.inPlay__vsWrapper {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width:100px;
  height:100px;
  z-index:999;
}
.inPlay__vsWrapper * {
  width: 100%;
}
.inPlay__vsWrapper svg {
  animation: vs 15s linear infinite;
}
@keyframes vs {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inPlay__vsWrapper p{
  font-size: 1.5em;
  color: #fff;
  margin-top: -90px;
  font-weight:bold;
  z-index:99;
  position: absolute;
}