.playResult {
  height:calc(100vh - 94px);
  overflow:hidden;
  padding: 20px;
  
}


.playResult__hero {
  margin-top: 30px;
}
.playResult__yourChoices {
  padding: 50px 0;
}
.playResult__yourChoicesContentWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.playResult__yourChoice {
  width: calc(25% - 20px);
  margin-bottom:3px;
  position: relative;
}
.playResult__yourChoice img{
  width: 100%;
  display: block;
  opacity: 0.4;
}
.playResult__emptyImg {
  width: 100%;
  height:calc((25vw - 30px) * 0.65);
}
.playResult__yourChoice p {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0;
  font-weight:bold;
}




.playResult__copyLink {
  padding: 20px 30px;
  border: 1px solid #000;
  width: fit-content;
  margin: 10px auto;
  border-radius: 100px;
}
.playResult__linkCopiedAlert {
  font-size: 0.8em;
  color:#155F28;
}
.playResult__social {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
  max-width: 300px;
  margin: 0 auto;
}
/* .playResult__social > * {
  margin: 10px;
} */