.foroApp {
  text-align: center;
}
.foroApp__wideScreen {
  display: none;
  z-index:999999999;
}
@media only screen and (min-width: 486px) {
  .foroApp__app {
    display: none;
  }
  .foroApp__wideScreen {
    display: block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Image spinning animation 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.foroApp__app {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



